@font-face {
    font-family: "Jost";
    src: url(assets/fonts/Jost.ttf);
    font-size: auto;
}
@font-face {
    font-family: "Nunito";
    src: url(assets/fonts/Nunito.ttf);
    font-size: auto;
}
html , body{
   width: 100%;
}
body{
    font-family: "Nunito";
    padding: 0;
    margin: 0;
    z-index: 0;
    background-image: url(assets/images/background.jpg);
    
}
header {
    background-color: #0B1B2B;
    padding: 15px;
    font-family: "Jost";
    margin: 0;
    width: 98.8%;
    padding-right: 0;
    
    
}
header h1{
    color: white;
}
main{
    display: flex;
    align-items: baseline;
    margin: 15px;
    padding: 0;
    gap: 1px;
    
}
aside{
    background-color: #2e2e2e;
    width: 30%;
    padding: 15px;
    height: 100vh;
    border: none;
    border-radius: 17px;
    color: white;
    
}
aside h2{
    border-bottom:1px solid white ;
    padding-bottom: 25px;
    margin-bottom: 0;
}
aside #total {
    font-size:medium;
    padding-top: 15px;
}
#menu{
    display: flex;
    flex-direction: column;
    /*background-color: rgb(85, 15, 7);*/
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 70%;
    height: 100vh;
    padding: 15px;
    justify-content: flex-start;
    border:none;
    border-radius: 17px;
    
    
}
#menu h2{
    height: 5%;
    color:white;
}    
footer{
    background-color:#0B1B2B;
    display: block;
    padding:20px;
    text-align: center;
}
footer h2{
    color: white;
}
#menuspan{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 5px solid black ;
    width: 90%;
    height: 70%;
    align-self: center;
    justify-self: flex-start;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    
    
    
}
#stopper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    pointer-events: none;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#stopper.active{
   background-color: rgba(0, 0, 0, 0.301);
    pointer-events: auto;
}

.conf {
    background-color: rgba(255, 255, 255);
    width: 400px;
    padding: 15px;
    border:solid black;
    height: 370px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    margin-top:10% ;
    transition: opacity 0.3s ease,margin 0.3s ease;
    
}

#stopper.active .conf.shown{
    opacity: 1;
    margin-top: 0;
}
.btncontainer{
    position:relative  ;
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-left: auto;
    padding-top: 0;
    
    padding-right: 12px;
    margin-left: 4px;
    
    
    
}

.adminbtn{
    
    font-family: "Nunito";
    width: 120px;
    padding: 10px;
    margin-right: 60px;
    margin-top: 15px;
    border-radius: 60px;
    border: none;
    background-color: #1B3A8A;
    color: white;
}
.adminbtn:hover{
    background-color: #122A6B;
}
.adminbtn:active{
    background-color: #0b1a44;
}
.admininput{
    border: solid black 3px;
    border-radius: 40px;
    padding: 15px;
    font-family: "Nunito";
    margin : 10px;
}
.addcardtocart{
    margin-left: 5%;
    transition: background-color 0.3s ease;
}
.addcardtocart.disabled{
    background-color: rgba(22, 22, 22, 0.575);
    pointer-events: none;
}

.card{
    background-color: white;
    width: 98%;
    
    border: solid 3px black;
    border-radius: 15px;
    box-sizing: border-box;
    height: 25%;
    margin-top:5px;
    padding-left: 8px;
    padding-bottom: 3px;
    margin-left: -5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    
    transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        height 0.3s ease,
        margin 0.3s ease,
        padding 0.3s;
}
.cardprice{
    margin-left: 4px;
}
.card.removing{
    opacity: 0;
    margin: 0;
    height: 0;
    padding-top:0;
    padding-bottom: 0;
    transform: translateX(-20px);
    pointer-events: none;
}


#catcont{
    background-color: transparent;
    border:none;
    display:flex;
    justify-content: center;
    padding: 10px;
    
}
#catnav {
    display: flex;
    justify-content: center;
    font-family: "Nunito";
    border:2px solid white;
    border-radius: 10px;
    overflow: hidden;
}
    
.catbtn{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border:1px solid white;

}
.catbtn:hover {
    background-color: #00000060;
}
.catbtn.active{
    background-color: white;
    color: black;
}
#cartItems{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    max-height:65%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    
    
}
.cartitem{
    border-bottom: 1px solid white;
    background-color: transparent;
    padding: 0px 8px;
    margin: 0;
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    gap :3px;
}
.cartitem button{
    height: 30%;
    border-radius: 2px;
    border : none;
    text-emphasis: auto;
    background-color: #2a4894;
    color: white;
    size:50%
}
.cartitem button:hover{
    background-color:#1c3061;
}
.cartprice{
    margin-left: auto;
}
#cart{
    display: flex;
    flex-direction: column;
}
.qtybox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding:3px;
    gap :3px;
}

#cartbtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 20px 20px;
    border-radius: 10px;
    background:#192c5c;
    color: #fff;
    border: none;
    font-size: larger;
    display: none;
    
    transform: translateY(0);
    transition: bottom 0.3s ease,top 0.3s ease,transform 0.3s ease;
    
}
#cartbtn:active{
    background-color: #0a1327;
    
}
#cartbtn.closemode{
    background-color: rgb(173, 0, 0);
    transform: translateY(-62vh);
    
}
@media (max-width :800px){
    .card{
        height:206px;
    }
    #cart {
        inset: auto 0 0 0;
        position: fixed;
        right: 0;
        bottom: 0;
        width:90vw;
        height: 70vh;
        transform: translateY(100%);
        z-index: 999;
        transition: transform 0.3s ease;
    }
    #cart.open {
        transform: translateY(0);
    }
    .btncontainer{
        top :-12px;
    }
    #menu{
        width: 100%;
    }
    #cartbtn{
        display: block;
    }
    .catbtn {
        padding:10px 12px ;
    }

}



 