@font-face {
  font-family: 'Nunito';
  src: url('fonts/Nunito.ttf');
}


body {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  
}

header {
  background: #521414;
  color: white;
  padding: 15px 15px;
   /* vertical | horizontal padding */
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;

  display: flex;          /* Flexbox for buttons row */
   /* Center buttons horizontally */
  align-items: center;     /* Center buttons vertically */
  justify-content: space-between;               /* Space between buttons */
  gap:20px;
  
  position: fixed;
  
  width: 97.8%;
 
  z-index: 1000;

}

section {
  padding: 60px 40px;;
  background-size: cover;
  background-image: url(images/homeimg.png);
             /* same as header border-radius */
  padding-top: 244px;
  padding-bottom: 244px; 
  background-position: center;          
  
}
div{
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-family: "Nunito";
  size-adjust: none;
  
}




footer {
  background: #521414;
  color: white;
  text-align: center;
  padding: auto;
  
  display :flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  size: auto;
  padding: auto;  
  
  
  

  
}
footer p{
  padding : 15px;
}
h1{
    font-family:"Nunito";
    
}
button{
    background-color: #af1e26;
    color: rgb(255, 255, 255);
    padding: 10px 20px; /* vertical horizontal */
    font-size: 16px;
    font-family:"Nunito";
    border-radius: 50px;
    border: 0px;
    
    margin-top: 0px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    
    
    
    
}
div button {
  display: flex; 
  margin-left: auto;
}
button:hover{
    background-color: #921a20;
    
}
button:active{
    background-color: #74151a;
}
#menu{
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3,1fr);
  grid-row:auto;
  align-content: start;
  padding: 30px;
  gap :40px;
  
  
}
#NOTE{
  background-color: rgb(34, 33, 33);
  text-align: center;
  color: white;
  padding: 1px;
}
input{
  padding: 10px;
  border-radius: 50px;
  border-color: black;
  border: solid;
  margin: 10px;
}
#submit{
  border-radius: 20px;
  border-color: black;
  border: solid;
  margin: 10px;
  resize: none;
  padding: 10px;
  font-family: "Nunito";
  
}
#contactF{
  display :grid;
}  
#morebutton{
  background-image: url(images/menuicon.png);
  
  width: 50px;
  height : 50px;
  background-color: rgba(255, 255, 255, 0);
  background-size:80% ;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-right: 4%;
  
  

}
#morebutton:hover{
  background-color: rgba(255, 255, 255, 0.185);
}
#morebutton:active{
  background-color: rgba(255, 255, 255, 0.418);
}
#sidemenu{
  position: fixed;
  top:0;
  right:-330px;
  width: 280px;
  height: 100vh;
  background-color: black;
  color: white;
  transition: right 0.3s ease;
  border-top-right-radius: 0px;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding: 10px;
  
  
}
#sidemenu.open{
  right:0;
  
  
}
#sidemenu.close{
  right:-330px;
  
}
#closebtn{
  background-image: url(images/xicon.png);
  margin-top: 20px;
  width: 50px;
  height : 50px;
  background-color: rgba(255, 255, 255, 0);
  background-size:60% ;
  background-position: center;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  
  

}
#closebtn:hover{
  background-color: rgba(255, 255, 255, 0.185);
}
#closebtn:active{
  background-color: rgba(255, 255, 255, 0.418);
}
#spacer{
  padding:50px
}
.morebuttons{
  display :block;
  padding: 15px;
  margin-left:0;
  margin-right: 120%;
  width: 90%;
  align-self:flex-end;
  
  margin:0;
  background-color: #af1e26;
  color:white;
  z-index: 2000;
  text-decoration:solid;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
}
.morebuttons:hover{
  background-color: rgba(255, 255, 255, 0.185);
}
.morebuttons:active{
  background-color: rgba(255, 255, 255, 0.418);
}
#sidemenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidemenu h2{
  padding: 30px;
}
#blurer{
  background-image: none;
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  border-radius: 0;
  border: none;
  transition: opacity 0.3s ease;
}
#blurer.show{
  pointer-events:auto;
  opacity: 1;
}
@media (max-width: 600px) {
  .headbutton {
    display: none;
  }

  #morebutton{
    opacity: 1;
    pointer-events: auto;
  }
  header {
    width: 94.6%;
  }
  #menu{
    grid-template-columns: repeat(1,1fr);
  }
}

